In [2]:
!pip install einops
!pip install tslearn
%load_ext autoreload
%autoreload 2

import seaborn as sns
# from dataclasses import dataclass
from dataclasses import dataclass, field
import matplotlib.pyplot as plt

import datautils
from utils import init_dl_program
from hdst import HDST
import torch
import gc
import numpy as np

Requirement already satisfied: einops in /Users/jw316/anaconda3/envs/myenv/lib/python3.12/site-packages (0.8.0)
Requirement already satisfied: tslearn in /Users/jw316/anaconda3/envs/myenv/lib/python3.12/site-packages (0.6.3)
Requirement already satisfied: numpy in /Users/jw316/anaconda3/envs/myenv/lib/python3.12/site-packages (from tslearn) (1.26.4)
Requirement already satisfied: scipy in /Users/jw316/anaconda3/envs/myenv/lib/python3.12/site-packages (from tslearn) (1.13.1)
Requirement already satisfied: scikit-learn in /Users/jw316/anaconda3/envs/myenv/lib/python3.12/site-packages (from tslearn) (1.5.1)
Requirement already satisfied: numba in /Users/jw316/anaconda3/envs/myenv/lib/python3.12/site-packages (from tslearn) (0.61.2)
Requirement already satisfied: joblib in /Users/jw316/anaconda3/envs/myenv/lib/python3.12/site-packages (from tslearn) (1.4.2)
Requirement already satisfied: llvmlite<0.45,>=0.44.0dev0 in /Users/jw316/anaconda3/envs/myenv/lib/python3.12/site-packages (from numba->tslearn) (0.44.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in /Users/jw316/anaconda3/envs/myenv/lib/python3.12/site-packages (from scikit-learn->tslearn) (3.5.0)

/Users/jw316/anaconda3/envs/myenv/lib/python3.12/site-packages/tslearn/bases/bases.py:15: UserWarning: h5py not installed, hdf5 features will not be supported.
Install h5py to use hdf5 features: http://docs.h5py.org/
  warn(h5py_msg)

In [3]:
import os
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler 

from utils import pkl_load, pad_nan_to_target
from scipy.io.arff import loadarff
import pickle
import matplotlib.pyplot as plt
from matplotlib.patches import Patch
name='ETTh1'
data = pd.read_csv(f'datasets/{name}.csv')

In [4]:
data[['date']]

                      date
0      2016-07-01 00:00:00
1      2016-07-01 01:00:00
2      2016-07-01 02:00:00
3      2016-07-01 03:00:00
4      2016-07-01 04:00:00
...                    ...
17415  2018-06-26 15:00:00
17416  2018-06-26 16:00:00
17417  2018-06-26 17:00:00
17418  2018-06-26 18:00:00
17419  2018-06-26 19:00:00

[17420 rows x 1 columns]

In [5]:
cols_data = data.columns[1:]
# cols_data
df_data = data[cols_data]

In [6]:
df_data

         HUFL   HULL   MUFL   MULL   LUFL   LULL         OT
0       5.827  2.009  1.599  0.462  4.203  1.340  30.531000
1       5.693  2.076  1.492  0.426  4.142  1.371  27.787001
2       5.157  1.741  1.279  0.355  3.777  1.218  27.787001
3       5.090  1.942  1.279  0.391  3.807  1.279  25.044001
4       5.358  1.942  1.492  0.462  3.868  1.279  21.948000
...       ...    ...    ...    ...    ...    ...        ...
17415  -1.674  3.550 -5.615  2.132  3.472  1.523  10.904000
17416  -5.492  4.287 -9.132  2.274  3.533  1.675  11.044000
17417   2.813  3.818 -0.817  2.097  3.716  1.523  10.271000
17418   9.243  3.818  5.472  2.097  3.655  1.432   9.778000
17419  10.114  3.550  6.183  1.564  3.716  1.462   9.567000

[17420 rows x 7 columns]

In [7]:
a=slice(None, 12*30*24)

In [16]:
a

slice(None, 8640, None)

In [8]:
timeenc = 0

In [9]:
data = pd.read_csv(f'datasets/{name}.csv')
tmp_stamp = data[['date']]
cols_data = data.columns[1:]
data = data[cols_data]


tmp_stamp['date'] = pd.to_datetime(tmp_stamp.date)
if timeenc == 0:
    tmp_stamp['month'] = tmp_stamp.date.apply(lambda row: row.month, 1)
    tmp_stamp['day'] = tmp_stamp.date.apply(lambda row: row.day, 1)
    tmp_stamp['weekday'] = tmp_stamp.date.apply(lambda row: row.weekday(), 1)
    tmp_stamp['hour'] = tmp_stamp.date.apply(lambda row: row.hour, 1)
    tmp_stamp['minute'] = tmp_stamp.date.apply(lambda row: row.minute, 1)
    tmp_stamp['minute'] = tmp_stamp.minute.map(lambda x: x // 15)
    data_stamp = tmp_stamp.drop(columns=['date']).values

tmp_stamp

                     date  month  day  weekday  hour  minute
0     2016-07-01 00:00:00      7    1        4     0       0
1     2016-07-01 01:00:00      7    1        4     1       0
2     2016-07-01 02:00:00      7    1        4     2       0
3     2016-07-01 03:00:00      7    1        4     3       0
4     2016-07-01 04:00:00      7    1        4     4       0
...                   ...    ...  ...      ...   ...     ...
17415 2018-06-26 15:00:00      6   26        1    15       0
17416 2018-06-26 16:00:00      6   26        1    16       0
17417 2018-06-26 17:00:00      6   26        1    17       0
17418 2018-06-26 18:00:00      6   26        1    18       0
17419 2018-06-26 19:00:00      6   26        1    19       0

[17420 rows x 6 columns]

In [10]:
data_stamp = tmp_stamp.drop(columns=['date']).values
data_stamp.shape

(17420, 5)

In [11]:
from timefeatures import time_features
data_stamp = time_features(pd.to_datetime(tmp_stamp['date'].values), freq='t')
data_stamp = data_stamp.transpose(1, 0)

In [12]:
data_stamp

array([[-0.5       , -0.5       ,  0.16666667, -0.5       , -0.00136986],
       [-0.5       , -0.45652174,  0.16666667, -0.5       , -0.00136986],
       [-0.5       , -0.41304348,  0.16666667, -0.5       , -0.00136986],
       ...,
       [-0.5       ,  0.23913043, -0.33333333,  0.33333333, -0.01780822],
       [-0.5       ,  0.2826087 , -0.33333333,  0.33333333, -0.01780822],
       [-0.5       ,  0.32608696, -0.33333333,  0.33333333, -0.01780822]])

In [35]:
data, train_slice, valid_slice, test_slice, scaler, pred_lens, tmp_stamp = datautils.load_forecast_csv("ETTh1")
train_data = data[:, train_slice]
test_data = data[:, test_slice]
tmp_train=tmp_stamp[train_slice,:]

In [16]:
tmp_stamp

array([[ 7,  1,  4,  0,  0],
       [ 7,  1,  4,  1,  0],
       [ 7,  1,  4,  2,  0],
       ...,
       [ 6, 26,  1, 17,  0],
       [ 6, 26,  1, 18,  0],
       [ 6, 26,  1, 19,  0]])

In [36]:
print(f"Shapes - train data: {train_data.shape}, test data: {test_data.shape}")
print(tmp_train.shape)

Shapes - train data: (1, 8640, 7), test data: (1, 2880, 7)
(8640, 5)

In [26]:
from models.encoder import TemporalEmbedding
tem_embed=TemporalEmbedding(d_model=128)
tmp_train=torch.from_numpy(tmp_train).float().to('cpu')
tmp_train=tmp_train.unsqueeze(0)
tmp_embed=tem_embed(tmp_train)

torch.Size([1, 8640, 5])

In [27]:
print(tmp_embed.shape)

torch.Size([1, 8640, 128])

In [37]:
from models.encoder import PositionalEmbedding
pos_embed=PositionalEmbedding(d_model=128)
train_data=torch.from_numpy(train_data).float().to('cpu')
# train_data=train_data.unsqueeze(0)
print(train_data.size(1))
pos_embeding=pos_embed(train_data)

8640

In [38]:
print(pos_embeding.shape)

torch.Size([1, 5000, 128])

In [39]:
data, train_slice, valid_slice, test_slice, scaler, pred_lens, tmp_stamp = datautils.load_forecast_csv("ETTh1")
train_data = data[:, train_slice]
test_data = data[:, test_slice]
train_tmp = tmp_stamp[train_slice,:]
test_tmp = tmp_stamp[test_slice,:]
train_tmp=np.expand_dims(train_tmp, axis=0)
test_tmp=np.expand_dims(test_tmp, axis=0)
n_channels=train_data.shape[2]
print(f"Shapes - train data: {train_data.shape}, test data: {test_data.shape}")
print(f"Shapes - train tmp: {train_tmp.shape}, test tmp: {test_tmp.shape}")
train_all=np.concatenate((train_data,train_tmp),axis=2)
test_all=np.concatenate((test_data,test_tmp),axis=2)
print(f"Shapes - train all: {train_all.shape}, test all: {test_all.shape}")
print(pred_lens)
print(n_channels)
print(train_data.size)

Shapes - train data: (1, 8640, 7), test data: (1, 2880, 7)
Shapes - train tmp: (1, 8640, 5), test tmp: (1, 2880, 5)
Shapes - train all: (1, 8640, 12), test all: (1, 2880, 12)
[24, 48, 168, 336, 720]
7
60480

In [43]:
max_train_length=800
w='Auto'
batch_size=128
lr=0.001
top_k=3

In [44]:
from utils import split_with_nan, centerize_vary_length_series,  extract_fixed_random_windows, torch_pad_with, torch_pad_nan, FFT_for_Period, pad_nan_to_target
from torch.utils.data import TensorDataset, DataLoader
assert train_all.ndim == 3
        


# Split data into windows, pad windows with nans to have equal lengths
if max_train_length is not None:
    sections = train_all.shape[1] // max_train_length
    if sections >= 2:
        train_all = np.concatenate(split_with_nan(train_all, sections, axis=1), axis=0)

# What timesteps have no modalities present for at least one batch element
temporal_missing = np.isnan(train_all).all(axis=-1).any(axis=0)
if temporal_missing[0] or temporal_missing[-1]:
    train_all = centerize_vary_length_series(train_all)

# Eliminate empty series        
train_all = train_all[~np.isnan(train_all).all(axis=2).all(axis=1)]

train_data=train_all[:,:,:n_channels]
print(f"Training data shape: {train_data.shape}")


#### multi-scale using FFT periods
if w=='Auto':
    scale_list, scale_weight = FFT_for_Period((torch.from_numpy(train_data).to(torch.float)), top_k)
    print(f"Scale list: {scale_list}")
    top_k=len(scale_list)
if isinstance(w, int):
    scale_list=[w]
    print(f"Scale list: {scale_list}")
    # scale_weight=[1]
    top_k=1
if isinstance(w, list) and all(isinstance(x, int) for x in w):
    scale_list=w
    print(f"Scale list: {scale_list}")
    top_k=len(w)
    


# train_dataset = TensorDataset(torch.from_numpy(train_data).to(torch.float))
train_dataset_all = TensorDataset(torch.from_numpy(train_all).to(torch.float))

# print(len(train_dataset))
train_loader = DataLoader(train_dataset_all, batch_size=min(batch_size, len(train_dataset_all)), shuffle=True, drop_last=True)


for batch in train_loader:
    
    
    # Batch is a 1 element list
    x = batch[0]
    # print(x.shape)
    if max_train_length is not None and x.size(1) > max_train_length:
        window_offset = np.random.randint(x.size(1) - max_train_length + 1)
        x = x[:, window_offset : window_offset + max_train_length]

    # if w==None:
    #     # Identify scales
    #     scale_list, scale_weight = FFT_for_Period(x, top_k)
    #     # print(scale_list)
    #     # print(type(scale_list[0]))
    # else:
    #     scale_list=[w]
    #     scale_weight=[1]
    #     top_k=1
    x = x.to('cpu')
    

    for i in range(top_k):
        scale = scale_list[i]
        if scale>max_train_length:
            scale=max_train_length
        # print(type(scale))
        # print(type(x))
        B, T, C2 = x.shape
        if T%scale!=0:
            length=(T//scale+1)*scale
            x=torch_pad_nan(x,left=0,right=length-T,dim=1)
        else:
            length=T

        k=length//scale
        x_windows=x.reshape(B, k, scale, C2)
        # print("x_windows:")
        # print(x_windows.shape)
        x_windows_reshaped = x_windows.reshape(B * k, scale, C2)  
        x_data=x_windows_reshaped[:,:,:n_channels]
        x_tmp=x_windows_reshaped[:,:,n_channels:]
        print(f"Shapes - x data: {x_data.shape}, x dtmp: {x_tmp.shape}")
        torch.save({'x_data': x_data, 'x_tmp': x_tmp}, 'intermediate_results.pt')
        break

Training data shape: (10, 864, 7)
Scale list: [24, 864, 432]
Shapes - x data: torch.Size([340, 24, 7]), x dtmp: torch.Size([340, 24, 5])

In [45]:
checkpoint = torch.load('intermediate_results.pt')
x_data = checkpoint['x_data']
x_tmp = checkpoint['x_tmp']

In [47]:
x_data

tensor([[[ 0.7431, -0.5182,  0.7214,  ..., -0.0691,  0.1500, -1.1689],
         [ 1.0082, -0.3258,  0.9725,  ...,  0.4370,  0.3436, -1.2916],
         [ 0.7200, -0.3900,  0.7085,  ...,  0.3774,  0.1024, -1.1306],
         ...,
         [ 0.9505,  0.0263,  1.1914,  ..., -0.8732, -0.1388, -0.9619],
         [ 0.9851,  0.0904,  1.2108,  ..., -0.9025, -0.1388, -0.8930],
         [ 1.0428, -0.1019,  1.1914,  ..., -0.7237, -0.1880, -1.0079]],

        [[ 1.2385,  0.1225,  1.3396,  ..., -0.0691,  0.1500, -1.0539],
         [ 0.9275, -0.7746,  0.8051,  ...,  0.3178,  0.1024, -1.0387],
         [ 0.8699, -0.0378,  0.7408,  ...,  0.7340,  0.7784, -0.9696],
         ...,
         [ 1.3768, -0.0378,  1.1528,  ...,  1.5078,  0.6816, -1.2380],
         [ 0.8929, -0.4861,  0.5991,  ...,  1.7159,  0.8275, -1.2762],
         [ 1.1350, -0.3900,  0.9146,  ...,  1.5977,  0.5848, -1.3146]],

        [[ 1.2731, -0.2297,  0.9339,  ...,  2.0432,  0.7308, -1.2456],
         [ 1.3999, -0.3258,  0.9854,  ...,  3.2039,  1.1163, -1.3299],
         [ 1.1580, -0.1340,  0.9791,  ...,  1.0017,  0.7784, -1.3836],
         ...,
         [ 0.8353, -0.3900,  0.9597,  ..., -0.4267,  0.1024, -0.6783],
         [ 0.8353, -0.3900,  0.9597,  ..., -0.4267,  0.1024, -0.6783],
         [ 0.8353, -0.3900,  0.9597,  ..., -0.4267,  0.1024, -0.6783]],

        ...,

        [[ 1.7342,  0.5712,  1.6486,  ...,  0.4663,  0.7308,  1.8208],
         [ 1.3768,  1.5004,  1.3848,  ...,  0.3178,  0.7308,  1.9204],
         [ 1.1350,  0.8277,  1.0113,  ...,  0.6744,  0.9719,  1.9971],
         ...,
         [ 1.9530,  1.4047,  1.5006,  ...,  3.3534,  1.5527,  2.0661],
         [ 1.9184,  1.4363,  1.5199,  ...,  2.8766,  1.3099,  2.0125],
         [ 1.8031,  1.5004,  1.4297,  ...,  2.8170,  1.5035,  1.9434]],

        [[ 1.4921,  1.1162,  1.0820,  ...,  2.8766,  1.5527,  1.8592],
         [ 1.3999,  1.2124,  1.1142,  ...,  2.0735,  1.4559,  1.9358],
         [ 0.9160,  1.0521,  0.9276,  ...,  0.4966,  1.2131,  2.0661],
         ...,
         [ 0.2476, -0.5182,  0.3802,  ..., -0.6348, -0.0912,  1.6599],
         [ 0.2822, -0.3258,  0.4510,  ..., -0.6348,  0.0532,  1.5142],
         [ 0.0747, -0.8387,  0.2193,  ..., -0.5449, -0.0436,  1.6751]],

        [[ 0.3398, -0.6464,  0.3739,  ..., -0.1287,  0.0532,  1.6905],
         [ 0.3168, -0.1019,  0.4253,  ..., -0.4560,  0.0532,  1.5985],
         [-0.2248, -0.7105, -0.1864,  ..., -0.3368,  0.3928,  1.4452],
         ...,
         [    nan,     nan,     nan,  ...,     nan,     nan,     nan],
         [    nan,     nan,     nan,  ...,     nan,     nan,     nan],
         [    nan,     nan,     nan,  ...,     nan,     nan,     nan]]])